<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="lowlandtech" value="https://nuget.pkg.github.com/lowlandtech/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <lowlandtech>
      <add key="Username" value="wendellmva" />
      <add key="ClearTextPassword" value="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" />
    </lowlandtech>
  </packageSourceCredentials>
</configuration>
