<Project Sdk="${Context.Project.Sdk}">
  <PropertyGroup>
    <IsTestProject>${Context.Project.IsTest ?? false}</IsTestProject>
  </PropertyGroup>
@if (Context.Project.References) {
  <ItemGroup>
@foreach (var reference in Context.Project.References) {
    <ProjectReference Include="${reference}" />
}
  </ItemGroup>
}
</Project>
