@namespace LowlandTech.Shell

<Router AppAssembly="typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)" />
    </Found>
    <NotFound><p>Page not found.</p></NotFound>
</Router>
