using LowlandTech.Core.Plugins;
using LowlandTech.Plugins.container;

namespace LowlandTech.Plugins;

public static class PluginRegistration
{
    public static void RegisterContainerPlugins(IntentRegistry registry)
    {
@foreach (var plugin in Context.Model.Plugins) {
        registry.Register(new ${plugin.Intent}Plugin());
}
    }
}
